In [2]:
print("hello world")

hello world

In [3]:
#create a virtual envirnment
#pip install kaggle

In [4]:
#data exploration

In [5]:
#you have to pip install pandas
import pandas as pd
import numpy as np

In [6]:
df = pd.read_csv('diabetic_data.csv', encoding_errors='ignore')
ids_map = pd.read_csv('IDS_mapping.csv', encoding_errors='ignore')

In [7]:
df.head()

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),?,6,25,1,1,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),?,1,1,7,3,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),?,1,1,7,2,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),?,1,1,7,2,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),?,1,1,7,1,...,No,Steady,No,No,No,No,No,Ch,Yes,NO

In [8]:
ids_map.head()

  admission_type_id    description
0                 1      Emergency
1                 2         Urgent
2                 3       Elective
3                 4        Newborn
4                 5  Not Available

In [9]:
df.shape

(101766, 50)

In [10]:
df.describe()

,encounter_id,patient_nbr,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,number_diagnoses
count,1.017660e+05,1.017660e+05,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000
mean,1.652016e+08,5.433040e+07,2.024006,3.715642,5.754437,4.395987,43.095641,1.339730,16.021844,0.369357,0.197836,0.635566,7.422607
std,1.026403e+08,3.869636e+07,1.445403,5.280166,4.064081,2.985108,19.674362,1.705807,8.127566,1.267265,0.930472,1.262863,1.933600
min,1.252200e+04,1.350000e+02,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000
25%,8.496119e+07,2.341322e+07,1.000000,1.000000,1.000000,2.000000,31.000000,0.000000,10.000000,0.000000,0.000000,0.000000,6.000000
50%,1.523890e+08,4.550514e+07,1.000000,1.000000,7.000000,4.000000,44.000000,1.000000,15.000000,0.000000,0.000000,0.000000,8.000000
75%,2.302709e+08,8.754595e+07,3.000000,4.000000,7.000000,6.000000,57.000000,2.000000,20.000000,0.000000,0.000000,1.000000,9.000000
max,4.438672e+08,1.895026e+08,8.000000,28.000000,25.000000,14.000000,132.000000,6.000000,81.000000,42.000000,76.000000,21.000000,16.000000

In [11]:
df.duplicated().sum()

np.int64(0)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101766 entries, 0 to 101765
Data columns (total 50 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   encounter_id              101766 non-null  int64
 1   patient_nbr               101766 non-null  int64
 2   race                      101766 non-null  object
 3   gender                    101766 non-null  object
 4   age                       101766 non-null  object
 5   weight                    101766 non-null  object
 6   admission_type_id         101766 non-null  int64
 7   discharge_disposition_id  101766 non-null  int64
 8   admission_source_id       101766 non-null  int64
 9   time_in_hospital          101766 non-null  int64
 10  payer_code                101766 non-null  object
 11  medical_specialty         101766 non-null  object
 12  num_lab_procedures        101766 non-null  int64
 13  num_procedures            101766 non-null  int64
 14  num_medications           101766 non-null  int64
 15  number_outpatient         101766 non-null  int64
 16  number_emergency          101766 non-null  int64
 17  number_inpatient          101766 non-null  int64
 18  diag_1                    101766 non-null  object
 19  diag_2                    101766 non-null  object
 20  diag_3                    101766 non-null  object
 21  number_diagnoses          101766 non-null  int64
 22  max_glu_serum             5346 non-null    object
 23  A1Cresult                 17018 non-null   object
 24  metformin                 101766 non-null  object
 25  repaglinide               101766 non-null  object
 26  nateglinide               101766 non-null  object
 27  chlorpropamide            101766 non-null  object
 28  glimepiride               101766 non-null  object
 29  acetohexamide             101766 non-null  object
 30  glipizide                 101766 non-null  object
 31  glyburide                 101766 non-null  object
 32  tolbutamide               101766 non-null  object
 33  pioglitazone              101766 non-null  object
 34  rosiglitazone             101766 non-null  object
 35  acarbose                  101766 non-null  object
 36  miglitol                  101766 non-null  object
 37  troglitazone              101766 non-null  object
 38  tolazamide                101766 non-null  object
 39  examide                   101766 non-null  object
 40  citoglipton               101766 non-null  object
 41  insulin                   101766 non-null  object
 42  glyburide-metformin       101766 non-null  object
 43  glipizide-metformin       101766 non-null  object
 44  glimepiride-pioglitazone  101766 non-null  object
 45  metformin-rosiglitazone   101766 non-null  object
 46  metformin-pioglitazone    101766 non-null  object
 47  change                    101766 non-null  object
 48  diabetesMed               101766 non-null  object
 49  readmitted                101766 non-null  object
dtypes: int64(13), object(37)
memory usage: 38.8+ MB

In [13]:
df.isnull().sum()

encounter_id                    0
patient_nbr                     0
race                            0
gender                          0
age                             0
weight                          0
admission_type_id               0
discharge_disposition_id        0
admission_source_id             0
time_in_hospital                0
payer_code                      0
medical_specialty               0
num_lab_procedures              0
num_procedures                  0
num_medications                 0
number_outpatient               0
number_emergency                0
number_inpatient                0
diag_1                          0
diag_2                          0
diag_3                          0
number_diagnoses                0
max_glu_serum               96420
A1Cresult                   84748
metformin                       0
repaglinide                     0
nateglinide                     0
chlorpropamide                  0
glimepiride                     0
acetohexamide                   0
glipizide                       0
glyburide                       0
tolbutamide                     0
pioglitazone                    0
rosiglitazone                   0
acarbose                        0
miglitol                        0
troglitazone                    0
tolazamide                      0
examide                         0
citoglipton                     0
insulin                         0
glyburide-metformin             0
glipizide-metformin             0
glimepiride-pioglitazone        0
metformin-rosiglitazone         0
metformin-pioglitazone          0
change                          0
diabetesMed                     0
readmitted                      0
dtype: int64

In [14]:
ids_map.shape

(67, 2)

In [15]:
ids_map.describe()

       admission_type_id description
count                 65          62
unique                32          58
top                    1  Not Mapped
freq                   3           2

In [16]:
ids_map.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67 entries, 0 to 66
Data columns (total 2 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   admission_type_id  65 non-null     object
 1   description        62 non-null     object
dtypes: object(2)
memory usage: 1.2+ KB

In [17]:
#identify duplicate
ids_map.duplicated().sum()

np.int64(1)

In [18]:
#identify empty rows
empty_rows = ids_map[ids_map.isna().all(axis=1)]
print(empty_rows)

   admission_type_id description
8                NaN         NaN
40               NaN         NaN

In [19]:
ids_map.iloc[8]
ids_map.iloc[40]

admission_type_id    NaN
description          NaN
Name: 40, dtype: object

In [20]:
#drops rows with empty info (row 8, 40)
ids_map = ids_map.dropna(how="all")

In [21]:
ids_map.isnull().sum()

admission_type_id    0
description          3
dtype: int64

In [22]:
#have null in the description column
ids_map[ids_map['description'].isnull()]

   admission_type_id description
5                  6         NaN
27                18         NaN
57                17         NaN

In [23]:
ids_map.loc[ids_map['description'].isnull(), 'description'] = "Unknown"

In [24]:
ids_map.isnull().sum()

admission_type_id    0
description          0
dtype: int64

In [25]:
#it has three different tables in the file
#should have not drop na
admission_map = pd.read_csv("IDS_mapping.csv", nrows=8)
#admission_map = admission_map['description'].fillna('Unknown')
admission_map.head
admission_dict = dict(zip(admission_map['admission_type_id'], admission_map['description']))
print(admission_dict)

{1: 'Emergency', 2: 'Urgent', 3: 'Elective', 4: 'Newborn', 5: 'Not Available', 6: nan, 7: 'Trauma Center', 8: 'Not Mapped'}

In [26]:
print(admission_dict)

{1: 'Emergency', 2: 'Urgent', 3: 'Elective', 4: 'Newborn', 5: 'Not Available', 6: nan, 7: 'Trauma Center', 8: 'Not Mapped'}

In [27]:
print(ids_map.iloc[9])

admission_type_id                     1
description          Discharged to home
Name: 10, dtype: object

In [28]:
discharge_map = pd.read_csv("IDS_mapping.csv", skiprows=9, nrows=30, header=1)

#replace na with unknowns
#converts floats to int for ids
discharge_map['description'] = discharge_map['description'].fillna("Unknown")
discharge_map['discharge_disposition_id'] = discharge_map['discharge_disposition_id'].astype(int)




discharge_dict = dict(zip(discharge_map['discharge_disposition_id'], discharge_map['description']))
print(discharge_dict)

{1: 'Discharged to home', 2: 'Discharged/transferred to another short term hospital', 3: 'Discharged/transferred to SNF', 4: 'Discharged/transferred to ICF', 5: 'Discharged/transferred to another type of inpatient care institution', 6: 'Discharged/transferred to home with home health service', 7: 'Left AMA', 8: 'Discharged/transferred to home under care of Home IV provider', 9: 'Admitted as an inpatient to this hospital', 10: 'Neonate discharged to another hospital for neonatal aftercare', 11: 'Expired', 12: 'Still patient or expected to return for outpatient services', 13: 'Hospice / home', 14: 'Hospice / medical facility', 15: 'Discharged/transferred within this institution to Medicare approved swing bed', 16: 'Discharged/transferred/referred another institution for outpatient services', 17: 'Discharged/transferred/referred to this institution for outpatient services', 18: 'Unknown', 19: 'Expired at home. Medicaid only, hospice.', 20: 'Expired in a medical facility. Medicaid only, hospice.', 21: 'Expired, place unknown. Medicaid only, hospice.', 22: 'Discharged/transferred to another rehab fac including rehab units of a hospital .', 23: 'Discharged/transferred to a long term care hospital.', 24: 'Discharged/transferred to a nursing facility certified under Medicaid but not certified under Medicare.', 25: 'Not Mapped', 26: 'Unknown/Invalid', 30: 'Discharged/transferred to another Type of Health Care Institution not Defined Elsewhere', 27: 'Discharged/transferred to a federal health care facility.', 28: 'Discharged/transferred/referred to a psychiatric hospital of psychiatric distinct part unit of a hospital', 29: 'Discharged/transferred to a Critical Access Hospital (CAH).'}

In [29]:
addmission_source = pd.read_csv("IDS_mapping.csv", skiprows=41, header=1)
#print(addmission_source.head())
addmission_source['description'] = addmission_source['description'].fillna("Unknown")

source_dict = dict(zip(addmission_source['admission_source_id'], addmission_source['description']))
print(source_dict)

{1: ' Physician Referral', 2: 'Clinic Referral', 3: 'HMO Referral', 4: 'Transfer from a hospital', 5: ' Transfer from a Skilled Nursing Facility (SNF)', 6: ' Transfer from another health care facility', 7: ' Emergency Room', 8: ' Court/Law Enforcement', 9: ' Not Available', 10: ' Transfer from critial access hospital', 11: 'Normal Delivery', 12: ' Premature Delivery', 13: ' Sick Baby', 14: ' Extramural Birth', 15: 'Not Available', 17: 'Unknown', 18: ' Transfer From Another Home Health Agency', 19: 'Readmission to Same Home Health Agency', 20: ' Not Mapped', 21: 'Unknown/Invalid', 22: ' Transfer from hospital inpt/same fac reslt in a sep claim', 23: ' Born inside this hospital', 24: ' Born outside this hospital', 25: ' Transfer from Ambulatory Surgery Center', 26: 'Transfer from Hospice'}

In [30]:
print(df[['admission_type_id', 'discharge_disposition_id', 'admission_source_id']].head())

   admission_type_id  discharge_disposition_id  admission_source_id
0                  6                        25                    1
1                  1                         1                    7
2                  1                         1                    7
3                  1                         1                    7
4                  1                         1                    7

In [31]:
# fill in the values from the 3 columns
df['admission_type_id'] = df['admission_type_id'].map(admission_dict)
df['discharge_disposition_id'] = df['discharge_disposition_id'].map(discharge_dict)
df['admission_source_id'] = df['admission_source_id'].map(source_dict)

In [32]:
df['admission_type_id'] = df['admission_type_id'].fillna("Unknown")

print(df[['admission_type_id', 'discharge_disposition_id', 'admission_source_id']].head())

  admission_type_id discharge_disposition_id  admission_source_id
0           Unknown               Not Mapped   Physician Referral
1         Emergency       Discharged to home       Emergency Room
2         Emergency       Discharged to home       Emergency Room
3         Emergency       Discharged to home       Emergency Room
4         Emergency       Discharged to home       Emergency Room

In [33]:
#start cleaning the diabetic data
missing_count = (df['weight'] == '?').sum()
total_count = df['weight'].shape[0]
print(f"{missing_count} out of {total_count} rows ({missing_count/total_count:.2%}) are '?'")

98569 out of 101766 rows (96.86%) are '?'

In [34]:
#Over 96 persent of values are missing for weight column, it will be dropped
df = df.drop(columns=['weight'])

In [35]:

df.head()

,encounter_id,patient_nbr,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,payer_code,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),Unknown,Not Mapped,Physician Referral,1,?,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),Emergency,Discharged to home,Emergency Room,3,?,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),Emergency,Discharged to home,Emergency Room,2,?,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),Emergency,Discharged to home,Emergency Room,2,?,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),Emergency,Discharged to home,Emergency Room,1,?,...,No,Steady,No,No,No,No,No,Ch,Yes,NO

In [36]:
missing_count = (df['payer_code'] == '?').sum()
total_count = df['payer_code'].shape[0]
print(f"{missing_count} out of {total_count} rows ({missing_count/total_count:.2%}) are '?'")

40256 out of 101766 rows (39.56%) are '?'

In [37]:
missing_count = (df['medical_specialty'] == '?').sum()
total_count = df['medical_specialty'].shape[0]
print(f"{missing_count} out of {total_count} rows ({missing_count/total_count:.2%}) are '?'")

49949 out of 101766 rows (49.08%) are '?'

In [38]:
#replaces ? with nan
df['payer_code'] = df['payer_code'].replace('?', np.nan)
df['medical_specialty'] = df['medical_specialty'].replace('?', np.nan)

In [39]:
missing_count = (df['diag_3'] == '?').sum()
total_count = df['diag_3'].shape[0]
print(f"{missing_count} out of {total_count} rows ({missing_count/total_count:.2%}) are '?'")

1423 out of 101766 rows (1.40%) are '?'

In [40]:
#identified that there are ? values for diag columns
df[['diag_1','diag_2','diag_3']] = df[['diag_1','diag_2','diag_3']].replace('?', np.nan)

In [41]:
#function to turn values in diag columns to categories based on their codes
def categorize_icd9(code):
    try:
        if pd.isna(code):
            return 'Unknown'
        code = int(str(code).split('.')[0])
    except:
        return 'Unknown'
    # ICD-9 ranges mapped to categories
    if 1 <= code <= 139: return "Infectious diseases"
    elif 140 <= code <= 239: return "Neoplasms"
    elif 240 <= code <= 279: return "Endocrine/metabolic (incl. diabetes)"
    elif 280 <= code <= 289: return "Blood diseases"
    elif 290 <= code <= 319: return "Mental disorders"
    elif 320 <= code <= 389: return "Nervous system"
    elif 390 <= code <= 459: return "Circulatory system"
    elif 460 <= code <= 519: return "Respiratory system"
    elif 520 <= code <= 579: return "Digestive system"
    elif 580 <= code <= 629: return "Genitourinary system"
    elif 630 <= code <= 679: return "Pregnancy/childbirth"
    elif 680 <= code <= 709: return "Skin"
    elif 710 <= code <= 739: return "Musculoskeletal"
    elif 740 <= code <= 759: return "Congenital anomalies"
    elif 760 <= code <= 779: return "Perinatal conditions"
    elif 780 <= code <= 799: return "Symptoms/signs"
    elif 800 <= code <= 999: return "Injury/poisoning"
    else: return "Other/Unknown"

In [42]:
#replaces the diag codes to the category
for col in ['diag_1','diag_2','diag_3']:
    df[col] = df[col].apply(categorize_icd9)

In [43]:
print(df[['diag_1','diag_2','diag_3']])

                                      diag_1  \
0       Endocrine/metabolic (incl. diabetes)
1       Endocrine/metabolic (incl. diabetes)
2                       Pregnancy/childbirth
3                        Infectious diseases
4                                  Neoplasms
...                                      ...
101761  Endocrine/metabolic (incl. diabetes)
101762                      Digestive system
101763                   Infectious diseases
101764                      Injury/poisoning
101765                      Digestive system

                                      diag_2  \
0                                    Unknown
1       Endocrine/metabolic (incl. diabetes)
2       Endocrine/metabolic (incl. diabetes)
3       Endocrine/metabolic (incl. diabetes)
4                                  Neoplasms
...                                      ...
101761                      Mental disorders
101762  Endocrine/metabolic (incl. diabetes)
101763                  Genitourinary system
101764                        Blood diseases
101765                      Digestive system

                                      diag_3
0                                    Unknown
1       Endocrine/metabolic (incl. diabetes)
2                                    Unknown
3                         Circulatory system
4       Endocrine/metabolic (incl. diabetes)
...                                      ...
101761                    Circulatory system
101762                        Symptoms/signs
101763                      Mental disorders
101764                      Injury/poisoning
101765                        Symptoms/signs

[101766 rows x 3 columns]

In [44]:
print(df['insulin'])

0             No
1             Up
2             No
3             Up
4         Steady
           ...
101761      Down
101762    Steady
101763      Down
101764        Up
101765        No
Name: insulin, Length: 101766, dtype: object

In [45]:
#Normalize the insulin column
insulin_map = {'No':0, 'Steady':1, 'Up':2, 'Down':-2}
df['insulin'] = df['insulin'].map(insulin_map)

In [46]:
print(df['insulin'])

0         0
1         2
2         0
3         2
4         1
         ..
101761   -2
101762    1
101763   -2
101764    2
101765    0
Name: insulin, Length: 101766, dtype: int64

In [47]:
print(df['readmitted'])

0          NO
1         >30
2          NO
3          NO
4          NO
         ...
101761    >30
101762     NO
101763     NO
101764     NO
101765     NO
Name: readmitted, Length: 101766, dtype: object

In [48]:
# Percentages of readmission categories
print(df['readmitted'].value_counts(normalize=True) * 100)

readmitted
NO     53.911916
>30    34.928169
<30    11.159916
Name: proportion, dtype: float64

In [49]:
#convert readmitted to binary values 1 indicating readmitted within 30 days
df['readmitted'] = df['readmitted'].replace({'<30':1, '>30':0, 'NO':0})

C:\Users\jeric\AppData\Local\Temp\ipykernel_38740\95430762.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['readmitted'] = df['readmitted'].replace({'<30':1, '>30':0, 'NO':0})

In [50]:
print(df['readmitted'].value_counts(normalize=True) * 100)

readmitted
0    88.840084
1    11.159916
Name: proportion, dtype: float64

In [51]:
print(df['encounter_id'].duplicated().sum())
print(df['patient_nbr'].duplicated().sum())

0
30248

In [52]:
#there are 72 categorical values in this colu
df['medical_specialty'].value_counts()

medical_specialty
InternalMedicine          14635
Emergency/Trauma           7565
Family/GeneralPractice     7440
Cardiology                 5352
Surgery-General            3099
                          ...
Proctology                    1
Speech                        1
SportsMedicine                1
Perinatology                  1
Neurophysiology               1
Name: count, Length: 72, dtype: int64

In [53]:
#narrow it down to exclude less common
threshold = 500

common_specialties = df['medical_specialty'].value_counts()
common_specialties = common_specialties[common_specialties >= threshold].index

df['medical_specialty'] = df['medical_specialty'].apply(
    lambda x: x if x in common_specialties else "Other"
)

In [54]:
df['medical_specialty'].value_counts()

medical_specialty
Other                              53459
InternalMedicine                   14635
Emergency/Trauma                    7565
Family/GeneralPractice              7440
Cardiology                          5352
Surgery-General                     3099
Nephrology                          1613
Orthopedics                         1400
Orthopedics-Reconstructive          1233
Radiologist                         1140
Pulmonology                          871
Psychiatry                           854
Urology                              685
ObstetricsandGynecology              671
Surgery-Cardiovascular/Thoracic      652
Gastroenterology                     564
Surgery-Vascular                     533
Name: count, dtype: int64

In [55]:
df['age'].value_counts()

age
[70-80)     26068
[60-70)     22483
[50-60)     17256
[80-90)     17197
[40-50)      9685
[30-40)      3775
[90-100)     2793
[20-30)      1657
[10-20)       691
[0-10)        161
Name: count, dtype: int64

In [56]:
#age are set as categorical values
#rearrange as midpoints

age_map = {
    '[0-10)':5, '[10-20)':15, '[20-30)':25, '[30-40)':35, '[40-50)':45,
    '[50-60)':55, '[60-70)':65, '[70-80)':75, '[80-90)':85, '[90-100)':95
}

df['age'] = df['age'].map(age_map)

df['age'].value_counts()

age
75    26068
65    22483
55    17256
85    17197
45     9685
35     3775
95     2793
25     1657
15      691
5       161
Name: count, dtype: int64

In [57]:
print(df['max_glu_serum'].value_counts())
print('Number of na values for max_glu_serum ',df['max_glu_serum'].isna().sum())

max_glu_serum
Norm    2597
>200    1485
>300    1264
Name: count, dtype: int64
Number of na values for max_glu_serum  96420

In [58]:
print(df['A1Cresult'].value_counts())
print('number of na values for A1bc', df['A1Cresult'].isna().sum())

A1Cresult
>8      8216
Norm    4990
>7      3812
Name: count, dtype: int64
number of na values for A1bc 84748

In [59]:
# Reload only the two columns from the raw file
raw_cols = pd.read_csv("diabetic_data.csv", usecols=['max_glu_serum','A1Cresult'])

# Overwrite the cleaned DataFrame’s columns
df['max_glu_serum'] = raw_cols['max_glu_serum']
df['A1Cresult'] = raw_cols['A1Cresult']

# Now check the unique values again
print(df['max_glu_serum'].unique())
print(df['A1Cresult'].unique())

[nan '>300' 'Norm' '>200']
[nan '>7' '>8' 'Norm']

In [60]:
df['max_glu_serum'] = df['max_glu_serum'].fillna('None')
df['A1Cresult'] = df['A1Cresult'].fillna('None')

glu_map = {'None':0, 'Norm':1, '>200':2, '>300':3}
a1c_map = {'None':0, 'Norm':1, '>7':2, '>8':3}

df['max_glu_serum'] = df['max_glu_serum'].map(glu_map)
df['A1Cresult'] = df['A1Cresult'].map(a1c_map)

In [61]:
print(df['max_glu_serum'].unique())
print(df['A1Cresult'].unique())

[0 3 1 2]
[0 2 3 1]

In [62]:
print(df['max_glu_serum'].value_counts())
print('number of na values for A1bc', df['max_glu_serum'].isna().sum())

max_glu_serum
0    96420
1     2597
2     1485
3     1264
Name: count, dtype: int64
number of na values for A1bc 0

In [63]:
print(df['A1Cresult'].value_counts())
print('number of na values for A1bc', df['A1Cresult'].isna().sum())

A1Cresult
0    84748
3     8216
1     4990
2     3812
Name: count, dtype: int64
number of na values for A1bc 0

In [64]:
df['metformin']

0             No
1             No
2             No
3             No
4             No
           ...
101761    Steady
101762        No
101763    Steady
101764        No
101765        No
Name: metformin, Length: 101766, dtype: object

In [65]:
df.head()

,encounter_id,patient_nbr,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,payer_code,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,5,Unknown,Not Mapped,Physician Referral,1,NaN,...,No,0,No,No,No,No,No,No,No,0
1,149190,55629189,Caucasian,Female,15,Emergency,Discharged to home,Emergency Room,3,NaN,...,No,2,No,No,No,No,No,Ch,Yes,0
2,64410,86047875,AfricanAmerican,Female,25,Emergency,Discharged to home,Emergency Room,2,NaN,...,No,0,No,No,No,No,No,No,Yes,0
3,500364,82442376,Caucasian,Male,35,Emergency,Discharged to home,Emergency Room,2,NaN,...,No,2,No,No,No,No,No,Ch,Yes,0
4,16680,42519267,Caucasian,Male,45,Emergency,Discharged to home,Emergency Room,1,NaN,...,No,1,No,No,No,No,No,Ch,Yes,0

In [66]:
print('number of na values for payer  code', df['payer_code'].isna().sum())

number of na values for payer  code 40256

In [67]:
print(df['payer_code'].value_counts())

payer_code
MC    32439
HM     6274
SP     5007
BC     4655
MD     3532
CP     2533
UN     2448
CM     1937
OG     1033
PO      592
DM      549
CH      146
WC      135
OT       95
MP       79
SI       55
FR        1
Name: count, dtype: int64

In [68]:
df['payer_code'] = df['payer_code'].fillna('Unknown')

In [69]:
print(df['payer_code'].value_counts())

payer_code
Unknown    40256
MC         32439
HM          6274
SP          5007
BC          4655
MD          3532
CP          2533
UN          2448
CM          1937
OG          1033
PO           592
DM           549
CH           146
WC           135
OT            95
MP            79
SI            55
FR             1
Name: count, dtype: int64

In [70]:
print(df['race'].value_counts())

race
Caucasian          76099
AfricanAmerican    19210
?                   2273
Hispanic            2037
Other               1506
Asian                641
Name: count, dtype: int64

In [71]:
#group in ? with other
df['race'] = df['race'].replace('?', 'Other')
print(df['race'].value_counts())

race
Caucasian          76099
AfricanAmerican    19210
Other               3779
Hispanic            2037
Asian                641
Name: count, dtype: int64

In [72]:
#df.to_csv('cleaned_diabetic_data', index=False)

In [73]:
#psql connection
#pip install sqlalchemy
#pip install psycopg2-binary

from sqlalchemy import create_engine
engine = create_engine("postgresql://postgres:Matthew286@localhost:5432/diabetes_db")

try:
    engine
    print("Connection Successed to PSQL")
except:
    print("Unable to connect")

Connection Successed to PSQL

In [74]:
#df.to_sql(name='diabetes', con=engine, if_exists='append', index=False)

In [75]:
df.shape

(101766, 49)

In [76]:
cleaned_df = pd.read_csv('cleaned_diabetic_data')

In [77]:
cleaned_df.head()

,encounter_id,patient_nbr,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,payer_code,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,5,Unknown,Not Mapped,Physician Referral,1,Unknown,...,No,0,No,No,No,No,No,No,No,0
1,149190,55629189,Caucasian,Female,15,Emergency,Discharged to home,Emergency Room,3,Unknown,...,No,2,No,No,No,No,No,Ch,Yes,0
2,64410,86047875,AfricanAmerican,Female,25,Emergency,Discharged to home,Emergency Room,2,Unknown,...,No,0,No,No,No,No,No,No,Yes,0
3,500364,82442376,Caucasian,Male,35,Emergency,Discharged to home,Emergency Room,2,Unknown,...,No,2,No,No,No,No,No,Ch,Yes,0
4,16680,42519267,Caucasian,Male,45,Emergency,Discharged to home,Emergency Room,1,Unknown,...,No,1,No,No,No,No,No,Ch,Yes,0

In [78]:
cleaned_df['admission_type_id']

0           Unknown
1         Emergency
2         Emergency
3         Emergency
4         Emergency
            ...
101761    Emergency
101762    Emergency
101763    Emergency
101764       Urgent
101765    Emergency
Name: admission_type_id, Length: 101766, dtype: object

In [79]:
patients_df = df[['patient_nbr', 'race', 'gender', 'age', 'admission_type_id', 'discharge_disposition_id', 'admission_source_id']]

In [80]:
patients_df = patients_df.rename(columns={'patient_nbr':'patient_id', 'admission_type_id':'admission_type','discharge_disposition_id':'discharge_disposition', 'admission_source_id':'admission_source'})

In [81]:
patients_df.drop_duplicates(subset=['patient_id'])

,patient_id,race,gender,age,admission_type,discharge_disposition,admission_source
0,8222157,Caucasian,Female,5,Unknown,Not Mapped,Physician Referral
1,55629189,Caucasian,Female,15,Emergency,Discharged to home,Emergency Room
2,86047875,AfricanAmerican,Female,25,Emergency,Discharged to home,Emergency Room
3,82442376,Caucasian,Male,35,Emergency,Discharged to home,Emergency Room
4,42519267,Caucasian,Male,45,Emergency,Discharged to home,Emergency Room
...,...,...,...,...,...,...,...
101754,183087545,Caucasian,Female,75,Emergency,Discharged to home,Emergency Room
101755,188574944,Other,Female,45,Emergency,Discharged to home,Emergency Room
101756,140199494,Other,Female,65,Emergency,Discharged to home,Emergency Room
101758,120975314,Caucasian,Female,85,Emergency,Discharged to home,Emergency Room
101765,175429310,Caucasian,Male,75,Emergency,Discharged to home,Emergency Room

In [82]:
patients_df.head()

,patient_id,race,gender,age,admission_type,discharge_disposition,admission_source
0,8222157,Caucasian,Female,5,Unknown,Not Mapped,Physician Referral
1,55629189,Caucasian,Female,15,Emergency,Discharged to home,Emergency Room
2,86047875,AfricanAmerican,Female,25,Emergency,Discharged to home,Emergency Room
3,82442376,Caucasian,Male,35,Emergency,Discharged to home,Emergency Room
4,42519267,Caucasian,Male,45,Emergency,Discharged to home,Emergency Room

In [83]:
patients_df = patients_df.drop_duplicates(subset=['patient_id'], keep='first')

print("Rows after dedup:", len(patients_df))
print("Unique patient IDs:", patients_df['patient_id'].nunique())

Rows after dedup: 71518
Unique patient IDs: 71518

In [84]:
#noticed that varchar was set for 10 and updated it in sql to 20
print(patients_df['race'].str.len().max())

15

In [85]:
#patients_df.to_sql('patients', con=engine, if_exists='append',index=False,chunksize=5000)

In [86]:
cleaned_df.head()

,encounter_id,patient_nbr,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,payer_code,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,5,Unknown,Not Mapped,Physician Referral,1,Unknown,...,No,0,No,No,No,No,No,No,No,0
1,149190,55629189,Caucasian,Female,15,Emergency,Discharged to home,Emergency Room,3,Unknown,...,No,2,No,No,No,No,No,Ch,Yes,0
2,64410,86047875,AfricanAmerican,Female,25,Emergency,Discharged to home,Emergency Room,2,Unknown,...,No,0,No,No,No,No,No,No,Yes,0
3,500364,82442376,Caucasian,Male,35,Emergency,Discharged to home,Emergency Room,2,Unknown,...,No,2,No,No,No,No,No,Ch,Yes,0
4,16680,42519267,Caucasian,Male,45,Emergency,Discharged to home,Emergency Room,1,Unknown,...,No,1,No,No,No,No,No,Ch,Yes,0

In [87]:
cleaned_df['medical_specialty']

0                   Other
1                   Other
2                   Other
3                   Other
4                   Other
               ...
101761              Other
101762              Other
101763              Other
101764    Surgery-General
101765              Other
Name: medical_specialty, Length: 101766, dtype: object

In [88]:
cleaned_df.rename(columns={'patient_nbr':'patient_id'})

,encounter_id,patient_id,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,payer_code,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,5,Unknown,Not Mapped,Physician Referral,1,Unknown,...,No,0,No,No,No,No,No,No,No,0
1,149190,55629189,Caucasian,Female,15,Emergency,Discharged to home,Emergency Room,3,Unknown,...,No,2,No,No,No,No,No,Ch,Yes,0
2,64410,86047875,AfricanAmerican,Female,25,Emergency,Discharged to home,Emergency Room,2,Unknown,...,No,0,No,No,No,No,No,No,Yes,0
3,500364,82442376,Caucasian,Male,35,Emergency,Discharged to home,Emergency Room,2,Unknown,...,No,2,No,No,No,No,No,Ch,Yes,0
4,16680,42519267,Caucasian,Male,45,Emergency,Discharged to home,Emergency Room,1,Unknown,...,No,1,No,No,No,No,No,Ch,Yes,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101761,443847548,100162476,AfricanAmerican,Male,75,Emergency,Discharged/transferred to SNF,Emergency Room,3,MC,...,No,-2,No,No,No,No,No,Ch,Yes,0
101762,443847782,74694222,AfricanAmerican,Female,85,Emergency,Discharged/transferred to ICF,Transfer from a Skilled Nursing Facility (SNF),5,MC,...,No,1,No,No,No,No,No,No,Yes,0
101763,443854148,41088789,Caucasian,Male,75,Emergency,Discharged to home,Emergency Room,1,MC,...,No,-2,No,No,No,No,No,Ch,Yes,0
101764,443857166,31693671,Caucasian,Female,85,Urgent,Discharged/transferred to SNF,Emergency Room,10,MC,...,No,2,No,No,No,No,No,Ch,Yes,0
101765,443867222,175429310,Caucasian,Male,75,Emergency,Discharged to home,Emergency Room,6,Unknown,...,No,0,No,No,No,No,No,No,No,0

In [ ]:
encounter_df = encounter_df.rename(columns={'patients_nbr':'patient_id'})

In [ ]:
encounter_df = encounter_df.rename(columns={'patient_nbr':'patient_id'})

In [ ]:
#changed the data type
encounter_df['readmitted'] = encounter_df['readmitted'].astype(bool)

In [ ]:
#encounter_df.to_sql('encounters', con=engine, if_exists='append',index=False)

766

In [111]:
#mapps the diag 1,2,3 intolong format
diagnoses_df = cleaned_df.melt(id_vars=['encounter_id'],
                               value_vars=['diag_1', 'diag_2', 'diag_3'],
                               var_name='diag_order',
                               value_name='icd9_code')
diagnoses_df['diag_order'] = diagnoses_df['diag_order'].map({
    'diag_1':1,
    'diag_2':2,
    'diag_3':3
})

In [113]:
def map_diag_group(code):
    if pd.isnull(code):
        return 'Unknown'
    try:
        num = int(float(code))  # handles decimals like 250.13 → 250
    except ValueError:
        return 'Other'  # non-numeric codes like V45, E11

    if 390 <= num <= 459 or num == 785:
        return 'Circulatory'
    elif 460 <= num <= 519 or num == 786:
        return 'Respiratory'
    elif num == 250:
        return 'Diabetes'
    elif 520 <= num <= 579 or num == 787:
        return 'Digestive'
    elif 800 <= num <= 999:
        return 'Injury'
    elif 710 <= num <= 739:
        return 'Musculoskeletal'
    elif 140 <= num <= 239:
        return 'Neoplasms'
    else:
        return 'Other'

diagnoses_df['diag_group'] = diagnoses_df['icd9_code'].apply(map_diag_group)

In [ ]:
#diagnoses_df.to_sql('diagnoses', con=engine, if_exists='append', index=False)

In [140]:
labs_df = cleaned_df[['encounter_id', 'max_glu_serum', 'A1Cresult']].copy()

In [141]:
print(df['max_glu_serum'].unique())
print(df['A1Cresult'].unique())

[0 3 1 2]
[0 2 3 1]

In [142]:
labs_df = labs_df.rename(columns={'A1Cresult': 'a1c_results'})

In [ ]:
#labs_df.to_sql('labs', con=engine, if_exists='append', index=False)

766

In [159]:
med_cols = [
    'metformin','repaglinide','nateglinide','chlorpropamide','glimepiride',
    'acetohexamide','glipizide','glyburide','tolbutamide','pioglitazone',
    'rosiglitazone','acarbose','miglitol','troglitazone','tolazamide',
    'examide','citoglipton','insulin','glyburide-metformin','glipizide-metformin',
    'glimepiride-pioglitazone','metformin-rosiglitazone','metformin-pioglitazone'
]

med_df = cleaned_df.melt(
    id_vars=['encounter_id'],
    value_vars=med_cols,
    var_name='drug_name',
    value_name='status'
)

In [160]:
status_map = {
    "No": 0, "Steady": 1, "Up": 2, "Down": 3,
    0: 0, 1: 1, 2: 2, 3: 3,
    0.0: 0, 1.0: 1, 2.0: 2, 3.0: 3
}

med_df['status'] = med_df['status'].map(status_map)
med_df['status'] = med_df['status'].fillna(0).astype('int')

In [161]:
print(med_df['status'].unique())

[0 1 2 3]

In [ ]:
#med_df.to_sql('medications', con=engine, if_exists='append', index=False)

618